<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyLoginApplication</display-name>
  <welcome-file-list>
    <welcome-file>validate.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
  <servlet-name>valid</servlet-name>
  <servlet-class>com.myapp.servlets.Authenticate</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>valid</servlet-name>
 	<url-pattern>/validateUser</url-pattern>	
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>product</servlet-name>
  <servlet-class>com.myapp.servlets.ProductDetails</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>product</servlet-name>
 	<url-pattern>/displayproducts</url-pattern>	
  </servlet-mapping>
  
  <servlet>
  <servlet-name>registerme</servlet-name>
  <servlet-class>com.myapp.servlets.RegisterDetails</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>registerme</servlet-name>
 	<url-pattern>/register</url-pattern>	
  </servlet-mapping>
  
   <servlet>
  <servlet-name>forgotpass</servlet-name>
  <servlet-class>com.myapp.servlets.FindQuestion</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>forgotpass</servlet-name>
 	<url-pattern>/findQuestion</url-pattern>	
  </servlet-mapping>
  
  <servlet>
 <servlet-name>check</servlet-name>
     <servlet-class>com.myapp.servlets.CheckAns</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/checkans</url-pattern> 
   </servlet-mapping>
   
</web-app>